@import url(http://fonts.googleapis.com/css?family=Satisfy|Open+Sans:400, 300, 700);
.logo {
  width: 90px;
}

header h1 {
  color: #c9c983;
  font-family: 'Satisfy', cursive;
  margin-top: 20px;
}

.nav-pills > li.active > a {
color: #5c433f;
background-color: #eeddcd;
}

.nav-pills > li.active > a:hover {
background-color: #edf1f4;
color: #5c433f;
}

nav li {
  font-size: 15px;
}
.jumbotron {
  background-image: url('../img/hero.jpg');
  background-size: cover;
  background-position: center;
  height: 450px;
}

/* li a, .jumbotron button {
  border: 1px solid #5c433f;
  color: #5c433f;
  font-family: 'open Sans', sans-serif;
  font-weight: 400;
}

a:hover {
  text-decoration: none;
}

nav {
  top: 20px;
} */

.jumotron h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #fff;
}

/* .featured {
  margin-bottom: 60px;
}

.product {
  background-color: #eeddcd;
  border-radius: 5%;
  border: 5px solid rgb (232, 232, 232)
}

.img_box {
  margin: 10px 0px;
}

.product button {
  margin-bottom: 10px;
  background-color: rgb (252, 252, 252);
  border: 1px solid #5c43ff;
} */