@import url(http://fonts.googleapis.com/css?family=Satisfy|Open+Sans:400, 300, 700);
.logo {
  width: 90px;
}

header h1 {
  color: #c9c983;
  font-family: 'Satisfy', cursive;
  margin-top: 20px;
}

.nav-pills > li.active > a {
color: #5c433f;
background-color: #eeddcd;
}

.nav-pills > li.active > a:hover, .product button:hover, footer a:hover {
  background-color: #edf1f4;
  color: #5c433f;
}
 
nav li {
  font-size: 15px;
}

li a {
  border: 1px solid #5c433f;
  color: #5c433f;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

a:hover {
  text-decoration: none;
}

nav {
  top: 20px;
}

.featured {
  margin-bottom: 60px;
}

.product {
  background-color: #eeddcd;
  border-radius: 5%;
  border: 5px solid rgb (252, 252, 252);
  margin-right: 10px;
}

.img_box {
  margin: 10px 0px;
}

.product button {
  margin-bottom: 10px;
  background-color: rgb(252, 252, 252);
  border: 1px solid #5c433f;
}

aside a, 
footer {
  background-color: #eeddcd;
}

footer {
  padding-top: 20px;
  max-height: 100%;
}

footer a {
  color: #5c4335;
}

footer img {
  height: 90px;
}

.contact_info {
  padding-left: 40px;
  border-right: 1px solid #333;
  border-left: 1px solid #333;
}

.social,
.contact_info {
  padding-top: 15px;
}

footer .fine_print {
  margin-top: 10px;
  margin-bottom: 15px;
  color: #333;
}

@media(max-width: 768px) {
  .centered {
    float: none;
    margin: 0 auto;
  }
  nav {
    padding-top: 0px;
    padding-bottom: 10px;
    top: 5px;
  }
  .social {
    margin: 20px 10px 0px;
  }
  aside {
    margin-bottom: 60px;
  }
}

/* .nav-pills > li.active > a:hover {
background-color: #edf1f4;
color: #5c433f; */
}

/* nav li {
  font-size: 15px; */
}
.jumbotron {
  background-image: url('../img/hero.jpg');
  background-size: cover;
  background-position: center;
  height: 450px;
}

/* li a, .jumbotron button {
  border: 1px solid #5c433f;
  color: #5c433f;
  font-family: 'open Sans', sans-serif;
  font-weight: 400;
}
<<<<<<< HEAD
a:hover {
  text-decoration: none;
}
=======

a:hover {
  text-decoration: none;
}

>>>>>>> 86ae1a4e98f15dffb8d88559aa1e19ec5b40d425
nav {
  top: 20px;
} */

.jumotron h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #fff;
}

/* .featured {
  margin-bottom: 60px;
}
<<<<<<< HEAD
=======

>>>>>>> 86ae1a4e98f15dffb8d88559aa1e19ec5b40d425
.product {
  background-color: #eeddcd;
  border-radius: 5%;
  border: 5px solid rgb (232, 232, 232)
}
<<<<<<< HEAD
.img_box {
  margin: 10px 0px;
}
=======

.img_box {
  margin: 10px 0px;
}

>>>>>>> 86ae1a4e98f15dffb8d88559aa1e19ec5b40d425
.product button {
  margin-bottom: 10px;
  background-color: rgb (252, 252, 252);
  border: 1px solid #5c43ff;
} */


/* Beggining of Products Page */

#top-page h1 {
  font-family: 'Poppins', sans-serif;
  margin-top: 55px;
  font-size: 45px
}

.vet:hover {
  color: yellowgreen;
}



#top-page img {
  margin-left: 185px;
  margin-top: 10px;
}

hr {
  border-color: #000;
  border-width: thick;
  margin-top: 50px;
}

.middle {
  font-size: 60px;
  margin-top: 45px;
  font-family: 'Grenze', serif;
}

.middle:hover {
  color: yellowgreen;
}

.apoquel {
  margin-top: 20px;
}

.dog img {
  height: 312px;
  width: 350px;
}

.btn {
  margin-left: 40px;
  margin-top: 55px;
  box-shadow: 2px 2px;
}

.ears img {
  height: 350px;
  width: 350px;
}

.btn2 {
  margin-top: 35px;
  margin-left: 95px;
}

.video img {
  height: 305px;
  width: 250px;
}

.heartgard {
  margin-top: 30px
}

.btn3 {
  margin-top: 50px;
  margin-left: 55px;
}

.center {
  margin-top: 95px;
}


.feeder img {
  height: 310px;
  width: 300px;
}

.btn4 {
  margin-left: 50px;
  margin-bottom: 10px;
}

.water img {
  height: 300px;
  width: 240px;
  margin-left: 80px;
}

.btn5 {
  margin-left: 125px;
  margin-top: 10px;
}

.nutra {
  width: 160px;
  height: 180px;
  margin-left: 34px;
  margin-top: 40px;
}

.bed img {
  height: 250px;
  width: 250px;
}

.btn6 {
  margin-top: 21px;
  margin-left: 85px;
  margin-bottom: 25px;
}

.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  /* border: 5px solid black; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: transparent;
  color: black;
}

.flip-box-back {
  background-color: black;
  color: #5c4335;
  transform: rotateY(180deg);
}


/* End of Prodcuts Page */


/* Start of Contact Us Page */

.male_doctor_img {
  margin-left: 90px;
}

.map {
  margin-left: 85px;
  margin-bottom: 80px;
}

.female_doctor_img {
  margin-left: 90px;
  margin-bottom: 50px;
}

.cat_img {
  margin-left: 85px;
}

.animal {
  margin-top: 90px;
}


/* End of Contact Us Page */